<div id="<%= dom_id grade %>">
  <p>
    <strong>Yosemite:</strong>
    <%= grade.yosemite %>
  </p>

  <p>
    <strong>French:</strong>
    <%= grade.french %>
  </p>

  <p>
    <strong>Australian:</strong>
    <%= grade.australian %>
  </p>

</div>
